# 외부 파일 읽어오기

판다스는 다양한 형태의 외부 파일을 읽어와서 데이터프레임으로 변환하는 함수를 제공한다. 어떤 파일이든 판다스 객체인 데이터프레임으로 변환되고 나면 판다스의 모든 함수와 기능을 자유롭게 사용할 수 있다. 반대로 데이터프레임 또한 다양한 유형의 파일로 저장할 수 있다.

예를 들어 .csv, .json, .xlsx 등이 있다.

* CSV(comma - separated values) 파일 : 데이터 값을 쉼표로 구분하는 파일

        csv 파일 -> 데이터프레임 : pandas.read_csv("파일경로(이름)")

read_csv() 함수의 header 옵션은 데이터프레임의 열 이름으로 사용할 행을 지정한다.

index_col 옵션은 데이터프레임의 행 인덱스가 되는 열을 지정한다.

In [1]:
# 드라이브에 있는 csv파일 불러오기
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

file_path = '경로/read_csv_sample.csv'

# read_csv() 함수로 데이터프레임 변환.
df1 = pd.read_csv(file_path)
df1

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [3]:
# read_cvs() - header=None 옵션
df2 = pd.read_csv(file_path, header=None)
df2

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

In [4]:
# read_cvs() - index_col=None 옵션
df3 = pd.read_csv(file_path, index_col=None)
df3

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

In [5]:
# read_cvs() - index_col='c0' 옵션
df4 = pd.read_csv(file_path, index_col='c0')
df4

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9


#### read_csv() 옵션

1.   path : 파일의 위치(파일명 포함), URL

2.   sep(or delimiter) : 텍스트 데이터를 필드별로 구한하는 문자

3.   header : 열 이름으로 사용될 행의 번호(기본값을 0). header가 없고 첫 행부터 데이터가 있는경우 None으로 지정 가능



4.   index_col : 행 인덱스로 사용할 열의 번호 또는 열 이름

5.   names : 열 이름으로 사용할 문자열 리스트

6.   skiprows : 처음 몇 줄을 skip할 것인지 설정(숫자 입력). skip하려는 행의 번호를 담은 리스트로 설정 가능(예: [1, 3, 5])

7.   parse_dates : 날짜 텍스트를 datetime64로 변환할 것인지 설정(기본값 False)

8.   skip_footer : 마지막 몇 줄을 skip할 것인지 설정(숫자 입력)

9.   encoding : 텍스트 인코딩 종류를 지정

*  Exel 파일

Exel 파일(확장자 : .xlsx)의 행과 열은 데이터프레임의 행, 열로 대응된다.

        Exel -> DataFrame : pandas.read_excel(Path)

In [6]:
import pandas as pd

file_path = '경로/남북한발전전력량.xlsx'

# read_excel()
df1 = pd.read_excel(file_path, engine='openpyxl') # header = 0 (default)
df2 = pd.read_excel(file_path, engine='openpyxl', header=None) # header 옵션 미적용

In [7]:
df1

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  ...  2011  2012  2013  2014  2015  2016
0        남한     합계  1077  1186  1310  1444  ...  4969  5096  5171  5220  5281  5404
1       NaN     수력    64    51    49    60  ...    78    77    84    78    58    66
2       NaN     화력   484   573   696   803  ...  3343  3430  3581  3427  3402  3523
3       NaN    원자력   529   563   565   581  ...  1547  1503  1388  1564  1648  1620
4       NaN    신재생     -     -     -     -  ...     -    86   118   151   173   195
5        북한     합계   277   263   247   221  ...   211   215   221   216   190   239
6       NaN     수력   156   150   142   133  ...   132   135   139   130   100   128
7       NaN     화력   121   113   105    88  ...    79    80    82    86    90   111
8       NaN    원자력     -     -     -     -  ...     -     -     -     -     -     -

[9 rows x 29 columns]

In [8]:
df2

          0       1     2     3     4   ...    24    25    26    27    28
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  ...  2012  2013  2014  2015  2016
1         남한      합계  1077  1186  1310  ...  5096  5171  5220  5281  5404
2        NaN      수력    64    51    49  ...    77    84    78    58    66
3        NaN      화력   484   573   696  ...  3430  3581  3427  3402  3523
4        NaN     원자력   529   563   565  ...  1503  1388  1564  1648  1620
5        NaN     신재생     -     -     -  ...    86   118   151   173   195
6         북한      합계   277   263   247  ...   215   221   216   190   239
7        NaN      수력   156   150   142  ...   135   139   130   100   128
8        NaN      화력   121   113   105  ...    80    82    86    90   111
9        NaN     원자력     -     -     -  ...     -     -     -     -     -

[10 rows x 29 columns]

실행 환경에 따라서는 Exel 파일 데이터 추출을 지원하는 xlrd 라이브러리와 openpyxl 라이브러리 설치가 필요할 수도 았다. xlsx 확장자를 갖는 경우, engine 옵션에 'openpyxl'을 지정, xls 확장자에는 'xlrd'를 지정한다.

* JSON 파일

JSON파일(확장자 .json)은 데이터 공유를 목적으로 개발된 특수 파일 형식이다. 파이썬 딕셔너리와 비슷하게 'key : value' 구조를 갖는다. 구조가 중첩되는 방식에 따라 다르게 적용한다.

        json -> DataFrame : pandas.read_json(Path)

In [9]:
import pandas as pd

file_path = '경로/read_json_sample.json'

# read_json
df = pd.read_json(file_path)
df

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

In [10]:
df.index # json파일의 "name" 데이터 ("pandas", "Numpy", "matplotlib")

Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

# 웹(web)에서 가져오기

* HTML 웹 페이지에서 표 속성 가져오기

read_html() 함수는 HTML 웹 페이지에 있는 <table> 태그에서 표 형식의 데이터를 모두 찾아서 데이터프레임으로 변환한다. 표 데이터들은 각각 별도의 데이터프레임으로 변환되기 때문에 여러 개의 데이터프레임을 원소로 갖는 리스트가 반환된다.

        html 표 속성 읽기 : pandas.read_html("웹 주소(URL)" 또는 "HTML 파일 경로(이름)")

In [11]:
import pandas as pd

url = '경로/sample.html'

# html 웹 페이지의 표(table)를 가져와 데이터프레임으로 변환
tables = pd.read_html(url)

# 표 개수 확인
len(tables)

2

In [12]:
for i in range(len(tables)):
    print("tables[{0}]".format(i))
    print(tables[i])
    print()

tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [13]:
df = tables[1]

# 'name' 열을 인덱스로 지정
df.set_index(['name'], inplace=True)
df

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

* 웹 스크래핑

BeautifulSoup 등 웹 스크래핑(scraping) 도구로 수집한 데이터를 판다스 데이터프레임으로 정리하는 방법을 설명한다. 먼저 스크래핑한 내용을 파이썬 리스트, 딕셔너리 등으로 정리한 뒤 DataFrame() 함수에 리스트나 딕셔너리 형태로 전달하여 데이터프레임으로 변환한다.

In [14]:
# 미국 ETF 리스트 가져오기

from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# 위키피디아 미국 ETF 웹 페이지에서 필요한 정보를 스크래핑하여 딕셔너리 형태로 변수 etfs에 저장
url = "https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds"
resp = requests.get(url)
soup = BeautifulSoup(resp.text, 'lxml')
rows = soup.select('div > ul > li')

etfs = {}
for row in rows:
    try:
        name = re.findall('^(.*) \(NYSE', row.text)
        market = re.findall('\((.*)\|', row.text)
        ticket = re.findall('NYSE Arca\|(.*)\)', row.text)

        if (len(ticket) > 0) and (len(market) > 0) and (len(name) > 0):
            etfs[ticket[0]] = [market[0], name[0]]
    except AttributeError as e:
        pass

In [15]:
etfs

{'AADR': ['NYSE Arca', 'AdvisorShares WCM/BNY Mellon Focused Growth ADR ETF'],
 'ACCU': ['NYSE Arca', 'AdvisorShares Accuvest Global Opportunities ETF'],
 'AGG': ['NYSE Arca', 'iShares Core U.S. Aggregate Bond'],
 'ALD': ['NYSE Arca', 'WisdomTree Asia Local Debt'],
 'AMLP': ['NYSE Arca', 'ALPS Alerian MLP ETF'],
 'AND': ['NYSE Arca', 'Global X FTSE Andean 40 ETF'],
 'ARGT': ['NYSE Arca', 'Global X FTSE Argentina 20 ETF'],
 'ARKF': ['NYSE Arca', 'ARK Fintech Innovation ETF'],
 'ARKG': ['NYSE Arca', 'ARK Genomic Revolution Multi-Sector ETF'],
 'ARKK': ['NYSE Arca', 'ARK Innovation ETF'],
 'ARKQ': ['NYSE Arca', 'ARK Industrial Innovation ETF'],
 'ARKW': ['NYSE Arca', 'ARK Next Generation Internet ETF'],
 'ARKX': ['NYSE Arca', 'ARK Space Exploration & Innovation ETF'],
 'AUNZ': ['NYSE Arca', 'WisdomTree Australia & New Zealand Debt Fund'],
 'BABZ': ['NYSE Arca', 'PIMCO Build America Bond Strategy'],
 'BGU': ['NYSE Arca', 'Direxion Large Cap Bull 3x'],
 'BGZ': ['NYSE Arca', 'Direxion Large Cap Bear 3x ETF'],
 'BIL': ['NYSE Arca', 'SPDR Barclays 1-3 Month T-Bill'],
 'BIV': ['NYSE Arca', 'Vanguard Intermediate-Term Bond'],
 'BKF': ['NYSE Arca', 'iShares MSCI BRIC Index'],
 'BKLN': ['NYSE Arca', 'PowerShares Senior Loan Port'],
 'BLOK': ['NYSE Arca', 'Amplify Transformational Data Sharing ETF'],
 'BLV': ['NYSE Arca', 'Vanguard Long-Term Bond'],
 'BND': ['NYSE Arca', 'Vanguard Total Bond Market'],
 'BOND': ['NYSE Arca', 'PIMCO Total Return ETF'],
 'BRAF': ['NYSE Arca', 'Global X Brazil Financials ETF'],
 'BRAQ': ['NYSE Arca', 'Global X Brazil Consumer ETF'],
 'BRAZ': ['NYSE Arca', 'Global X Brazil Mid Cap ETF'],
 'BSV': ['NYSE Arca', 'Vanguard Short-Term Bond'],
 'BWX': ['NYSE Arca', 'SPDR Barclays International Treasury Bd'],
 'BZF': ['NYSE Arca', 'WisdomTree Dreyfus Brazilian Real Fund'],
 'CCX': ['NYSE Arca', 'WisdomTree Commodity Currency'],
 'CEW': ['NYSE Arca', 'WisdomTree Dreyfus Emerging Currency'],
 'CHNA': ['NYSE Arca', 'PowerShares China-A Share Portfolio'],
 'CIU': ['NYSE Arca', 'iShares Intermediate Credit Bd'],
 'CNBS': ['NYSE Arca', 'Amplify Seymour Cannabis ETF'],
 'CRDT': ['NYSE Arca', 'WisdomTree Strategic Corporate Bond Fund'],
 'CSJ': ['NYSE Arca', 'iShares 1-3 Year Credit Bond'],
 'CVY': ['NYSE Arca', 'Guggenheim Multi-Asset Income'],
 'CYB': ['NYSE Arca', 'WisdomTree Dreyfus Chinese Yuan'],
 'DBA': ['NYSE Arca', 'PowerShares DB Agriculture'],
 'DBB': ['NYSE Arca', 'PowerShares DB Base Metals'],
 'DBC': ['NYSE Arca', 'PowerShares DB Commodity Idx Trking Fund'],
 'DBIZ': ['NYSE Arca', 'AdvisorShares Pring Turner Business Cycle ETF'],
 'DDM': ['NYSE Arca', 'ProShares Ultra Dow 30'],
 'DEM': ['NYSE Arca', 'WisdomTree Emerging Markets Equity Inc'],
 'DFE': ['NYSE Arca', 'WisdomTree Europe SmallCap Dividend'],
 'DGS': ['NYSE Arca', 'WisdomTree Emerging Mkts SmallCap Div'],
 'DI': ['NYSE Arca', 'PIMCO Diversified Income ETF'],
 'DIA': ['NYSE Arca', 'DIAMONDS Trust, Series 1'],
 'DIVO': ['NYSE Arca', 'Amplify Enhanced Dividend Income ETF'],
 'DJP': ['NYSE Arca', 'iPath Dow Jones-UBS Commodity Idx TR ETN'],
 'DLN': ['NYSE Arca', 'WisdomTree LargeCap Dividend'],
 'DOG': ['NYSE Arca', 'ProShares Short Dow 30'],
 'DON': ['NYSE Arca', 'WisdomTree MidCap Dividend ETF'],
 'DTN': ['NYSE Arca', 'WisdomTree Dividend ex-Financials'],
 'DUG': ['NYSE Arca', 'UltraShort Oil & Gas ProShares'],
 'DVY': ['NYSE Arca', 'iShares Select Dividend'],
 'DWX': ['NYSE Arca', 'SPDR S&P International Dividend'],
 'DXD': ['NYSE Arca', 'UltraShort Dow 30 ProShares'],
 'DXJ': ['NYSE Arca', 'WisdomTree Japan Hedged Equity'],
 'ECON': ['NYSE Arca', 'EGShares Emerging Markets Consumer'],
 'EDV': ['NYSE Arca', 'Vanguard Extended Duration Treasury'],
 'EEB': ['NYSE Arca', 'Claymore/BNY BRIC'],
 'EEM': ['NYSE Arca', 'iShares MSCI Emerging Markets Index'],
 'EFA': ['NYSE Arca', 'iShares MSCI EAFE Index'],
 'EFZ': ['NYSE Arca', 'ProShares Short MSCI EAFE'],
 'EIS': ['NYSE Arca', 'iShares MSCI Israel ETF'],
 'ELD': ['NYSE Arca', 'WisdomTree Emerging Markets Local Debts Fund'],
 'EMB': ['NYSE Arca', 'iShares JPMorgan USD Emerg Markets Bond'],
 'EMCB': ['NYSE Arca', 'WisdomTree Emerging Markets Corporate Bond Fund'],
 'EMLP': ['NYSE Arca',
  'First Trust North American Energy Infrastructure Fund'],
 'EPHE': ['NYSE Arca', 'iShares MSCI Philippines Index'],
 'EPI': ['NYSE Arca', 'WisdomTree India Earnings ETF'],
 'EPP': ['NYSE Arca', 'iShares MSCI Pacific ex-Japan'],
 'EPRO': ['NYSE Arca', 'AdvisorShares EquityPro ETF'],
 'ERX': ['NYSE Arca', 'Direxion Energy Bull 3x ETF'],
 'ERY': ['NYSE Arca', 'Direxion Energy Bear 3x ETF'],
 'ESPO': ['NYSE Arca', 'VanEck Vectors Video Gaming and eSports ETF'],
 'EU': ['NYSE Arca', 'WisdomTree Euro Debt Fund'],
 'EWA': ['NYSE Arca', 'iShares MSCI Australia Index'],
 'EWC': ['NYSE Arca', 'iShares MSCI Canada Index'],
 'EWD': ['NYSE Arca', 'iShares MSCI Sweden Index'],
 'EWG': ['NYSE Arca', 'iShares MSCI German Index'],
 'EWH': ['NYSE Arca', 'iShares MSCI Hong Kong Index'],
 'EWI': ['NYSE Arca', 'iShares MSCI Italy Capped'],
 'EWJ': ['NYSE Arca', 'iShares MSCI Japan Index'],
 'EWL': ['NYSE Arca', 'iShares MSCI Switzerland Capped'],
 'EWM': ['NYSE Arca', 'iShares MSCI Malaysia Index'],
 'EWP': ['NYSE Arca', 'iShares MSCI Spain Capped'],
 'EWS': ['NYSE Arca', 'iShares MSCI Singapore Index'],
 'EWT': ['NYSE Arca', 'iShares MSCI Taiwan Index'],
 'EWU': ['NYSE Arca', 'iShares MSCI United Kingdom Index'],
 'EWW': ['NYSE Arca', 'iShares MSCI Mexico Index'],
 'EWY': ['NYSE Arca', 'iShares MSCI Korea Index'],
 'EWZ': ['NYSE Arca', 'iShares MSCI Brazil Index'],
 'EXI': ['NYSE Arca', 'iShares S&P Global Industrials'],
 'EZU': ['NYSE Arca', 'iShares MSCI EMU Index'],
 'FAS': ['NYSE Arca', 'Direxion Financials Bull 3x ETF'],
 'FAZ': ['NYSE Arca', 'Direxion Financials Bear 3x ETF'],
 'FBGX': ['NYSE Arca', 'UBS AG FI Enhanced Large Cap Growth 2x ETF'],
 'FBT': ['NYSE Arca', 'First Trust NYSE Arca Biotech Index'],
 'FDN': ['NYSE Arca', 'First Trust Dow Jones Internet Index'],
 'FEZ': ['NYSE Arca', 'SPDR EURO STOXX 50'],
 'FLGE': ['NYSE Arca', 'Credit Suisse FI Large Cap Growth Enhanced ETF'],
 'FLOT': ['NYSE Arca', 'iShares Floating Rate Bond'],
 'FMB': ['NYSE Arca', 'First Trust Managed Municipal ETF'],
 'FMF': ['NYSE Arca', 'First Trust Morningstar Managed Futures Strategy Fund'],
 'FNDA': ['NYSE Arca', 'Schwab Fundamental U.S. Small Company Index ETF'],
 'FNDC': ['NYSE Arca',
  'Schwab Fundamental International Small Company Index ETF'],
 'FNDE': ['NYSE Arca',
  'Schwab Fundamental Emerging Markets Large Company Index ETF'],
 'FNDF': ['NYSE Arca',
  'Schwab Fundamental International Large Company Index ETF'],
 'FNDX': ['NYSE Arca', 'Schwab Fundamental U.S. Large Company Index ETF'],
 'FORX': ['NYSE Arca', 'PIMCO Foreign Currency Strategy ETF'],
 'FPE': ['NYSE Arca', 'First Trust Preferred Securities and Income ETF'],
 'FTGS': ['NYSE Arca', 'First Trust Global Tactical Commodity Strategy Fund'],
 'FTHI': ['NYSE Arca', 'First Trust High Income ETF'],
 'FTLB': ['NYSE Arca', 'First Trust Low Beta Income ETF'],
 'FTSD': ['NYSE Arca', 'Franklin Short Duration US Government ETF'],
 'FTSL': ['NYSE Arca', 'First Trust Senior Loan ETF'],
 'FWDB': ['NYSE Arca', 'AdvisorShares Madrona Global Bond ETF'],
 'FWDD': ['NYSE Arca', 'AdvisorShares Madrona Domestic ETF'],
 'FWDI': ['NYSE Arca', 'AdvisorShares Madrona International ETF'],
 'FXH': ['NYSE Arca', 'First Trust Health Care AlphaDEX'],
 'FXI': ['NYSE Arca', 'iShares FTSE/Xinhua China 25 Index'],
 'GAL': ['NYSE Arca', 'SPDR SSgA Global Allocation'],
 'GAZ': ['NYSE Arca', 'iPath Dow Jones-UBS Natural Gas ETN'],
 'GDX': ['NYSE Arca', 'Market Vectors Gold Miners ETF'],
 'GDXJ': ['NYSE Arca', 'Market Vectors Junior Gold Miners ETF'],
 'GEUR': ['NYSE Arca', 'AdvisorShares Gartman Gold/Euro ETF'],
 'GGBP': ['NYSE Arca', 'AdvisorShares Gartman Gold/British Pound ETF'],
 'GIVE': ['NYSE Arca', 'AdvisorShares Global Echo ETF'],
 'GLD': ['NYSE Arca', 'SPDR Gold Shares'],
 'GLDE': ['NYSE Arca', 'AdvisorShares International Gold ETF'],
 'GMMB': ['NYSE Arca', 'Columbia Intermediate Municipal Bond ETF'],
 'GMTB': ['NYSE Arca', 'Columbia Core Bond ETF'],
 'GSG': ['NYSE Arca', 'iShares S&P GSCI Commodity-Indexed Trust'],
 'GSY': ['NYSE Arca', 'Guggenheim Enhanced Short Duration Bond ETF'],
 'GTAA': ['NYSE Arca', 'AdvisorShares Cambria Global Tactical ETF'],
 'GUNR': ['NYSE Arca', 'FlexShares Mstar Gbl Upstrm Nat Res ETF'],
 'GVI': ['NYSE Arca', 'iShares Intm Government/Credit Bond'],
 'GVT': ['NYSE Arca', 'Columbia Select Large Cap Value ETF'],
 'GXF': ['NYSE Arca', 'Global X FTSE Nordic Region ETF'],
 'GXG': ['NYSE Arca', 'Global X FTSE Colombia 20 ETF'],
 'GYEN': ['NYSE Arca', 'AdvisorShares Gartman Gold/Yen ETF'],
 'HDGE': ['NYSE Arca', 'AdvisorShares Ranger Equity Bear ETF'],
 'HDGI': ['NYSE Arca', 'AdvisorShares Athena International Bear ETF'],
 'HECO': ['NYSE Arca', 'Huntington EcoLogical Strategy ETF'],
 'HEDJ': ['NYSE Arca', 'WisdomTree Europe Hedged Equity ETF'],
 'HOLD': ['NYSE Arca', 'AdvisorShares Sage Core Reserves ETF'],
 'HUSE': ['NYSE Arca', 'Huntington U.S. Equity Rotation Strategy ETF'],
 'HYD': ['NYSE Arca', 'Market Vectors High-Yield Muni ETF'],
 'HYG': ['NYSE Arca', 'iShares iBoxx $ High Yield Corp Bond'],
 'HYLD': ['NYSE Arca', 'AdvisorShares Peritus High Yield ETF'],
 'HYLS': ['NYSE Arca', 'First Trust Tactical High Yield ETF'],
 'HYS': ['NYSE Arca', 'PIMCO 0-5 Year High Yld Corp Bd Idx ETF'],
 'IAU': ['NYSE Arca', 'iShares Gold Trust'],
 'ICB': ['NYSE Arca', 'WisdomTree Dreyfus Indian Rupee'],
 'ICF': ['NYSE Arca', 'iShares Cohen & Steers Realty Majors'],
 'ICSH': ['NYSE Arca', 'iShares Liquidity Income ETF'],
 'IDU': ['NYSE Arca', 'iShares Dow Jones US Utilities'],
 'IDV': ['NYSE Arca', 'iShares International Select Div'],
 'IEF': ['NYSE Arca', 'iShares Barclays 7-10 Year Treasury'],
 'IEI': ['NYSE Arca', 'iShares 3-7 Year Treasury Bond'],
 'IEIL': ['NYSE Arca', 'iShares Enhanced International Large-Cap ETF'],
 'IEIS': ['NYSE Arca', 'iShares Enhanced International Small-Cap ETF'],
 'IELG': ['NYSE Arca', 'iShares Enhanced U.S. Large-Cap ETF'],
 'IESM': ['NYSE Arca', 'iShares Enhanced U.S. Small-Cap ETF'],
 'IEV': ['NYSE Arca', 'iShares S&P Europe 350 Index'],
 'IFAS': ['NYSE Arca', 'iShares Dow Jones Asia Real Estate'],
 'IFEU': ['NYSE Arca', 'iShares Dow Jones Europe Real Estate'],
 'IGE': ['NYSE Arca', 'iShares North American Natural Resources'],
 'IGV': ['NYSE Arca', 'iShares North American Tech-Software'],
 'IJH': ['NYSE Arca', 'iShares S&P MidCap 400 Index'],
 'IJR': ['NYSE Arca', 'iShares S&P SmallCap 600 Index'],
 'ILB': ['NYSE Arca', 'PIMCO Global Advantage Inflation-Linked Bond Strategy'],
 'ILF': ['NYSE Arca', 'iShares S&P Latin America 40 Index'],
 'INDF': ['NYSE Arca', 'Nifty India Financials ETF'],
 'INKM': ['NYSE Arca', 'SPDR SSgA Income Allocation'],
 'IOO': ['NYSE Arca', 'iShares S&P Global 100 Index'],
 'IPD': ['NYSE Arca', 'SPDR S&P International Consumer Discretionary'],
 'IPF': ['NYSE Arca', 'SPDR S&P International Financial'],
 'IPK': ['NYSE Arca', 'SPDR S&P International Technology'],
 'IPN': ['NYSE Arca', 'SPDR S&P International Industrial'],
 'IPS': ['NYSE Arca', 'SPDR S&P International Consumer Staples'],
 'IPU': ['NYSE Arca', 'SPDR S&P International Utilities'],
 'IPW': ['NYSE Arca', 'SPDR S&P International Energy'],
 'IRV': ['NYSE Arca', 'SPDR S&P International Materials'],
 'IRY': ['NYSE Arca', 'SPDR S&P International Health Care'],
 'IST': ['NYSE Arca', 'SPDR S&P International Telecommunications'],
 'ITB': ['NYSE Arca', 'iShares US Home Construction'],
 'IVOO': ['NYSE Arca', 'Vanguard S&P Mid-Cap 400'],
 'IVV': ['NYSE Arca', 'iShares S&P 500 Index'],
 'IWB': ['NYSE Arca', 'iShares Russell 1000 Index'],
 'IWC': ['NYSE Arca', 'iShares Micro-Cap'],
 'IWM': ['NYSE Arca', 'iShares Russell 2000 Index'],
 'IWR': ['NYSE Arca', 'iShares Russell Midcap Index'],
 'IXC': ['NYSE Arca', 'iShares S&P Global Energy'],
 'IXG': ['NYSE Arca', 'iShares S&P Global Financial'],
 'IXJ': ['NYSE Arca', 'iShares S&P Global Healthcare'],
 'IXN': ['NYSE Arca', 'iShares S&P Global Technology'],
 'IXP': ['NYSE Arca', 'iShares S&P Global Telecommunications'],
 'IYC': ['NYSE Arca', 'iShares Dow Jones US Consumer Services'],
 'IYE': ['NYSE Arca', 'iShares Dow Jones US Energy'],
 'IYF': ['NYSE Arca', 'iShares Dow Jones US Financial'],
 'IYH': ['NYSE Arca', 'iShares Dow Jones US Health Care'],
 'IYJ': ['NYSE Arca', 'iShares Dow Jones US Industrial'],
 'IYK': ['NYSE Arca', 'iShares Dow Jones US Consumer Goods'],
 'IYM': ['NYSE Arca', 'iShares Dow Jones US Materials'],
 'IYR': ['NYSE Arca', 'iShares Dow Jones US Real Estate'],
 'IYW': ['NYSE Arca', 'iShares Dow Jones US Technology'],
 'IYZ': ['NYSE Arca', 'iShares Dow Jones US Telecommunications'],
 'JJA': ['NYSE Arca', 'iPath Dow Jones-UBS Agriculture ETN'],
 'JJM': ['NYSE Arca', 'iPath Dow Jones-UBS Industrial Metals ETN'],
 'JNK': ['NYSE Arca', 'SPDR Barclays Capital High Yield Bond ETF'],
 'JXI': ['NYSE Arca', 'iShares S&P Global Utilities'],
 'KBE': ['NYSE Arca', 'SPDR S&P Bank ETF'],
 'KRE': ['NYSE Arca', 'SPDR S&P Regional Banking ETF'],
 'KXI': ['NYSE Arca', 'iShares S&P Global Consumer Staples'],
 'LALT': ['NYSE Arca', 'PowerShares Multi-Strategy Alternative Portfolio'],
 'LDUR': ['NYSE Arca', 'PIMCO Low Duration ETF'],
 'LQD': ['NYSE Arca', 'iShares iBoxx $ Invest Grade Corp Bond'],
 'MATH': ['NYSE Arca', 'AdvisorShares Meidell Tactical Advantage ETF'],
 'MBB': ['NYSE Arca', 'iShares MBS'],
 'MDY': ['NYSE Arca', 'MidCap SPDR'],
 'MGC': ['NYSE Arca', 'Vanguard Mega-Cap 300'],
 'MIDU': ['NYSE Arca', 'Direxion Daily Mid Cap Bull 3x ETF'],
 'MINC': ['NYSE Arca', 'AdvisorShares Newfleet Multi-Sector Income ETF'],
 'MINT': ['NYSE Arca', 'PIMCO Enhanced Short Duration ETF'],
 'MUB': ['NYSE Arca', 'iShares National AMT-Free Muni Bond'],
 'MUNI': ['NYSE Arca', 'PIMCO Intermediate Muni Bond Strategy ETF'],
 'MXI': ['NYSE Arca', 'iShares S7P Global Materials'],
 'MYY': ['NYSE Arca', 'ProShares Short S&P MidCap 400'],
 'MZZ': ['NYSE Arca', 'UltraShort MidCap 400 ProShares'],
 'NEAR': ['NYSE Arca', 'iShares Short Maturity Bond ETF'],
 'NORW': ['NYSE Arca', 'Global X FTSE Norway 30 ETF'],
 'OEF': ['NYSE Arca', 'iShares S&P 100 Index'],
 'OIH': ['NYSE Arca', 'Market Vectors Oil Services ETF'],
 'OIL': ['NYSE Arca', 'iPath Dow Jones-UBS Crude Oil ETN'],
 'ONEF': ['NYSE Arca', 'Russell Equity ETF'],
 'PALL': ['NYSE Arca', 'ETFS Physical Palladium Shares'],
 'PCY': ['NYSE Arca', 'PowerShares Emerging Mkts Sovereign Debt'],
 'PDP': ['NYSE Arca', 'PowerShares DWA Mom Port'],
 'PHDG': ['NYSE Arca', 'S&P 500 Downside Hedged Portfolio'],
 'PID': ['NYSE Arca', 'PowerShares Intl Dividend Achievers'],
 'PJP': ['NYSE Arca', 'PowerShares Dynamic Pharmaceuticals'],
 'PKW': ['NYSE Arca', 'PowerShares Buyback Achievers'],
 'PPLT': ['NYSE Arca', 'ETFS Physical Platinum Shares'],
 'PRF': ['NYSE Arca', 'PowerShares FTSE RAFI US 1000'],
 'PSQ': ['NYSE Arca', 'ProShares Short Nasdaq 100'],
 'PSR': ['NYSE Arca', 'Active U.S. Real Estate Fund ETF'],
 'QEH': ['NYSE Arca', 'AdvisorShares QAM Equity Hedge ETF'],
 'QID': ['NYSE Arca', 'UltraShort NASDAQ-100 ProShares  2X'],
 'QLD': ['NYSE Arca', 'ProShares Ultra NASDAQ-100'],
 'RAVI': ['NYSE Arca', 'Flexshares Ready Access Variable Income Fund'],
 'REM': ['NYSE Arca', 'iShares Mortgage Real Estate Capped'],
 'RIGS': ['NYSE Arca', 'Riverfront Strategic Income Fund'],
 'RJA': ['NYSE Arca', 'ELEMENTS Rogers Agriculture ETN'],
 'RJI': ['NYSE Arca', 'ELEMENTS Rogers International Commodity Index ETN'],
 'RJN': ['NYSE Arca', 'ELEMENTS Rogers Energy ETN'],
 'RJZ': ['NYSE Arca', 'ELEMENTS Rogers Metal ETN'],
 'RLY': ['NYSE Arca', 'SPDR SSgA Multi-Asset Real Return'],
 'RPG': ['NYSE Arca', 'Guggenheim S&P 500 Pure Growth ETF'],
 'RPV': ['NYSE Arca', 'Guggenheim S&P 500 Pure Value ETF'],
 'RPX': ['NYSE Arca', 'Columbia Large Cap Growth ETF'],
 'RRF': ['NYSE Arca', 'WisdomTree Global Real Return'],
 'RSP': ['NYSE Arca', 'Guggenheim S&P 500 Equal Weight'],
 'RSX': ['NYSE Arca', 'Market Vectors Russia ETF'],
 'RWG': ['NYSE Arca', 'Columbia Select Large Cap Growth ETF'],
 'RWM': ['NYSE Arca', 'ProShares Short Russell 2000'],
 'RWO': ['NYSE Arca', 'SPDR Dow Jones Global Real Estate'],
 'RWR': ['NYSE Arca', 'SPDR Dow Jones REIT ETF'],
 'RWX': ['NYSE Arca', 'SPDR Dow Jones Intl Real Estate'],
 'RXI': ['NYSE Arca', 'iShares S&P Global Consumer Discretionary'],
 'SBB': ['NYSE Arca', 'ProShares Short S&P SmallCap 600'],
 'SCHA': ['NYSE Arca', 'Schwab US Small-Cap ETF'],
 'SCHC': ['NYSE Arca', 'Schwab International Small-Cap Equity'],
 'SCHD': ['NYSE Arca', 'Schwab US Dividend Equity ETF'],
 'SCHE': ['NYSE Arca', 'Schwab Emerging Markets Equity ETF'],
 'SCHF': ['NYSE Arca', 'Schwab International Equity ETF'],
 'SCHH': ['NYSE Arca', 'Schwab US REIT'],
 'SCHM': ['NYSE Arca', 'Schwab US Mid-Cap'],
 'SCHO': ['NYSE Arca', 'Schwab Short-Term US Treasury'],
 'SCHP': ['NYSE Arca', 'Schwab US TIPS'],
 'SCHR': ['NYSE Arca', 'Schwab Intermediate-Term US Treasury'],
 'SCHX': ['NYSE Arca', 'Schwab US Large-Cap ETF'],
 'SCHZ': ['NYSE Arca', 'Schwab US Aggregate Bond'],
 'SCPB': ['NYSE Arca', 'SPDR Barclays Capital Short Term Corp Bd'],
 'SCZ': ['NYSE Arca', 'iShares MSCI EAFE Small-Cap'],
 'SDS': ['NYSE Arca', 'UltraShort S&P 500 ProShares 2x'],
 'SDY': ['NYSE Arca', 'SPDR S&P Dividend ETF'],
 'SGOL': ['NYSE Arca', 'ETFS Physical Swiss Gold Shares'],
 'SH': ['NYSE Arca', 'ProShares Short S&P 500'],
 'SHM': ['NYSE Arca', 'SPDR Nuveen Barclays Capital S/T Muni Bd'],
 'SHV': ['NYSE Arca', 'iShares Short Treasury Bond'],
 'SHY': ['NYSE Arca', 'iShares Barclays 1-3 Year Treasury Bond'],
 'SIVR': ['NYSE Arca', 'ETFS Physical Silver Shares'],
 'SJNK': ['NYSE Arca', 'SPDR Barclays Short Term Hi Yld Bd ETF'],
 'SKF': ['NYSE Arca', 'UltraShort Financials ProShares'],
 'SLV': ['NYSE Arca', 'iShares Silver Trust'],
 'SMMU': ['NYSE Arca', 'PIMCO Short Term Muni Bond Strategy ETF'],
 'SPLV': ['NYSE Arca', 'PowerShares S&P 500 Low Volatility'],
 'SPUU': ['NYSE Arca', 'Direxion Daily S&P 500 Bull 2x ETF'],
 'SPXL': ['NYSE Arca', 'Direxion Daily S&P 500 Bull 3x ETF'],
 'SPXU': ['NYSE Arca', 'ProShares S&P 500 Direxionshares Bear 3x ETF'],
 'SPY': ['NYSE Arca', 'SPDR S&P 500'],
 'SQQQ': ['NYSE Arca', 'UltraPro Short QQQ'],
 'SRLN': ['NYSE Arca', 'SPDR Blackstone/GSO Senior Loan ETF'],
 'SRS': ['NYSE Arca', 'UltraShort Real Estate ProShares'],
 'SSO': ['NYSE Arca', 'ProShares Ultra S&P 500'],
 'STPZ': ['NYSE Arca', 'PIMCO 1-5 Year US TIPS Index ETF'],
 'SYE': ['NYSE Arca', 'SPDR MFS Systematic Core Equity ETF'],
 'SYG': ['NYSE Arca', 'SPDR MFS Systematic Growth Equity ETF'],
 'SYLD': ['NYSE Arca', 'Cambria Shareholder Yield ETF'],
 'SYV': ['NYSE Arca', 'SPDR MFS Systematic Value Equity ETF'],
 'TDTT': ['NYSE Arca', 'FlexShares iBoxx 3Yr Target Dur TIPS ETF'],
 'TFI': ['NYSE Arca', 'SPDR Nuveen Barclays Capital Muni Bond'],
 'TIP': ['NYSE Arca', 'iShares Barclays TIPS Bond'],
 'TLT': ['NYSE Arca', 'iShares Barclays 20+ Year Treas Bond'],
 'TNA': ['NYSE Arca', 'Direxion Small Cap Bull 3x'],
 'TTFS': ['NYSE Arca', 'AdvisorShares TrimTabs Float Shrink ETF'],
 'TWM': ['NYSE Arca', 'UltraShort Russell 2000 ProShares'],
 'TZA': ['NYSE Arca', 'Direxion Russell 2000 Direxionshares Bear 3x ETF'],
 'ULST': ['NYSE Arca', 'SPDR SSgA Ultra Short Term Bond ETF'],
 'UNG': ['NYSE Arca', 'United States Natural Gas Fund'],
 'UPRO': ['NYSE Arca', 'ProShares S&P 500 3x'],
 'USDU': ['NYSE Arca', 'WisdomTree Bloomberg U.S. Dollar Bullish Fund'],
 'USO': ['NYSE Arca', 'United States Oil Fund'],
 'UWM': ['NYSE Arca', 'ProShares Ultra Russell 2000'],
 'VAW': ['NYSE Arca', 'Vanguard Materials'],
 'VB': ['NYSE Arca', 'Vanguard Small-Cap'],
 'VCIT': ['NYSE Arca', 'Vanguard Intermediate-Term Corporate Bond'],
 'VCLT': ['NYSE Arca', 'Vanguard Long-Term Corporate Bond'],
 'VCR': ['NYSE Arca', 'Vanguard Consumer Discretionary'],
 'VCSH': ['NYSE Arca', 'Vanguard Short-Term Corporate Bond'],
 'VDC': ['NYSE Arca', 'Vanguard Consumer Staples'],
 'VDE': ['NYSE Arca', 'Vanguard Energy'],

In [16]:
df = pd.DataFrame(etfs)
df

                        DIA  ...                                      WDTI
0                 NYSE Arca  ...                                 NYSE Arca
1  DIAMONDS Trust, Series 1  ...  WisdomTree Managed Futures Strategy Fund

[2 rows x 381 columns]